@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .box {
        @apply w-14 h-14 bg-gray-400 rounded-2xl shrink-0 flex-wrap;
    }
}

@layer utilities {
    @keyframes scroll {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(calc(-50% - 0.5rem));
        }
    }
    .animate-scroll {
        animation: scroll 12s linear infinite;
    }
}

@layer components {
  .box {
    /* Same shape as your scrolling boxes */
    @apply w-14 h-14 rounded-l-2xl shrink-0 bg-gray-300 shad
           flex items-center justify-center overflow-hidden;
  }

    .box img {
    /* Make the image fill the box and keep proportions */
    @apply w-full h-full object-cover;
  }
}